/* This is the styles for all about fruit */

body {

	font-family: 'Economica', sans-serif;
	margin-left: 0;
	margin-right: 0;
	background-color:grey;
}

p{
	color: white;
	font-size: 30px;
	text-align: center;

	font-family: 'Economica', sans-serif;
}

h1{
	color: white;
	background: rgba(0, 0, 102, .75);
	text-align: center;
	font-size: 6.5em;

	font-family: 'Collegiate', cursive;
	
	margin: 0px;
	margin-top: 40px;
	padding-top: 30px;

}

h3{
	font-size: 1.5em;
}

th{
	font-size: 50px;
}

.transparent_b{
	background-color: rgba(0, 0, 102, .75);
	margin-left: 90px;
	margin-right: 90px;
	margin-top:10px;
	margin-bottom: 10px;

    border-radius: 25px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: white;
	font-size: 30px;
	text-align: center;

	font-family: 'Economica', sans-serif;
}

.schedule{

	background-color: rgba(0, 0, 102, .75);
	margin-left: 100px;
	margin-right: 100px;
	margin-top:10px;
	margin-bottom: 10px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;

    color: white;
	font-size: 30px;
	text-align: center;

	font-family: 'Economica', sans-serif;
}


#score{
	background-color: rgba(0, 0, 102, .75);
	font-size: 60px;
	color: white;
	font-family: 'Economica', sans-serif;

	text-align: center;
	
	width: 47%;
	height: 270px;
}

h4{
	font-size: 1em;
}

#smBox{
	background-image: url("../images/smLogo.gif");
	background-repeat: no-repeat;
	background-size: 235px;
	width: 20%;
	height: 250px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#bbnBox{
	background-image: url("../images/bbnLogo.png");
	background-repeat: no-repeat;
	background-size: 200px;
	width: 19%;
	height: 250px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#middleMenu {
	margin-top: 30px;
	margin-left: 90px;
}

#rivsBox{
	/*background-image: url("../images/redwingLogo.png");*/
	background-repeat: no-repeat;
	background-size: 310px;
	width: 19%;
	height: 250px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#riversPic {
	margin-top:50px;
}

#noblesPic{
	margin-top: 25px;
}

#lawrenceBox{
	/*background-image: url("../images/lawrenceLogo.png");*/
	background-repeat: no-repeat;
	background-size: 310px;
	width: 19%;
	height: 250px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#noblesBox{
	/*background-image: url("../images/noblesLogo.png");*/
	background-repeat: no-repeat;
	background-size: 310px;
	width: 19%;
	height: 250px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.teamNameSchedule {
	text-align: left;
}

li{
	color: white;
	display: inline-block;
	text-align: center;

	width: 19.57%;

	font-family: 'Economica', sans-serif;

}

span {
	padding-top: 40px;
}

ul{
	margin: 0;
	padding: 0;
	font-size: 2em;
	list-style-type: none;
	background-color: rgba(0, 0, 102, 0.75);
	color: white;
}

li:hover{
	background-color: white;
	color: rgb(0,0,102);
}

.dropdown-content{
	display: none;
	position: absolute;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	
}

.dropdown {
	position: relative;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
	color: white;
}

.dropdown-content a{
	background-color: white;
	color: rgb(0, 0, 102);
	padding: 10px 16px;
	text-decoration: none;
	display: block;
	padding: 10px 16px;
}

.dropdown-content a:hover{
	color: white;
	background-color: rgb(0, 0, 102);
}

.floatLeft {
	float: left;
	margin: 0;
}

.floatRight {
	float: right;
}

.noFloat{
	float: none;
	margin-top: 330px;
}

@font-face{
	font-family: 'Collegiate';
	src:url("../fonts/sf-collegiate/TrueType/SFCollegiate.ttf") format("truetype"); 
}

#dot{
	height: 15px;
	width: 15px;
	margin-top: 10px;
	float: left;
	padding-left: 15px
}

.homeButton {
	text-decoration: none;
	color: white;
}

button{
	height:40px;
	width: 80px;
	font-family: 'Economica', sans-serif;
	color: rgb(0,0,102);
	background-color: white;
	font-size: 30px;
	border-radius: 15px;
}

a:link{
	text-decoration: none;
	color: rgb(0, 0, 102);
}

a{
	color: white;
}

a:hover{
	color: rgb(0,0,102);
	text-decoration: none;
}