/* This is the styles for all about fruit */

body {

	font-family: 'Economica', sans-serif;
	margin-left: 0;
	margin-right: 0
}

p{
	color: white;
	font-size: 30px;
	text-align: center;

	font-family: 'Economica', sans-serif;
}

h1{
	color: white;
	background: rgba(0, 0, 102, .75);
	text-align: center;
	font-size: 6.5em;

	font-family: 'Collegiate', cursive;
	
	margin: 0px;
	margin-top: 40px;
	padding-top: 30px;

}

h3{
	font-size: 1.5em;
}

th{
	font-size: 50px;
}

.transparent_b{
	background-color: rgba(0, 0, 102, .75);
	margin-left: 90px;
	margin-right: 90px;
	margin-top:10px;
	margin-bottom: 10px;

    border-radius: 25px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: white;
	font-size: 30px;
	text-align: center;

	font-family: 'Economica', sans-serif;
}

.schedule{

	background-color: rgba(0, 0, 102, .75);
	margin-left: 100px;
	margin-right: 100px;
	margin-top:10px;
	margin-bottom: 10px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;

    color: white;
	font-size: 30px;
	text-align: center;

	font-family: 'Economica', sans-serif;
}


#score{
	font-size: 35pt;
	text-align: center;
}

#topBox{
	background-image: url("../images/smLogo.gif");
	background-repeat: no-repeat;
	background-size: 235px;
}

.teamNameSchedule {
	text-align: left;
}

li{
	color: white;
	display: inline-block;
	text-align: center;

	width: 19.57%;

	font-family: 'Economica', sans-serif;

}

span {
	padding-top: 40px;
}

ul{
	margin: 0;
	padding: 0;
	font-size: 2em;
	list-style-type: none;
}

li:hover{
	background-color: rgba(0, 0, 102, 0.75);
	color: white;
}

.dropdown-content{
	display: none;
	position: absolute;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	
}

.dropdown {
	position: relative;
	color: rgb(0,0,102)
}

.dropdown:hover .dropdown-content {
	display: block;
	color: white;
}

.dropdown-content a{
	background-color: white;
	color: rgb(0, 0, 102);
	padding: 10px 16px;
	text-decoration: none;
	display: block;
	padding: 10px 16px;
}

.dropdown-content a:hover{
	color: white;
	background-color: rgb(0, 0, 102);
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

@font-face{
	font-family: 'Collegiate';
	src:url("../fonts/sf-collegiate/TrueType/SFCollegiate.ttf") format("truetype"); 
}

#dot{
	height: 15px;
	width: 15px;
	margin-top: 10px;
	float: left;
	padding-left: 15px
}

.homeButton {
	text-decoration: none;
	color: white;
}

button{
	height:40px;
	width: 80px;
	font-family: 'Economica', sans-serif;
	color: rgb(0,0,102);
	background-color: white;
	font-size: 30px;
	border-radius: 15px;
}