/* This is the styles for all about fruit */

body {
	background-color: rgb(0, 0, 102);
	background-image: url("../images/grass.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin:0;

	font-family: 'Asap', sans-serif;
}

p{
	color: white;
	font-size: 30px;
	text-align: center;

	font-family: 'Asap', sans-serif;
}

h1{
	color: white;
	background: rgba(0, 0, 102, .75);
	text-align: center;
	font-size: 8em;

	font-family: 'Collegiate', cursive;
	
	margin: 0px;
	margin-top: 40px;
	padding-top: 30px;

}

th{
	font-size: 50px;
}

.transparent_b{
	background-color: rgba(0, 0, 102, .75);
	margin-left: 90px;
	margin-right: 90px;
	margin-top:10px;
	margin-bottom: 10px;

    border-radius: 25px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: white;
	font-size: 30px;
	text-align: center;

	font-family: 'Asap', sans-serif;
}

.schedule{

	background-color: rgba(0, 0, 102, .75);
	margin-left: 100px;
	margin-right: 100px;
	margin-top:10px;
	margin-bottom: 10px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;

    color: white;
	font-size: 30px;
	text-align: center;

	font-family: 'Asap', sans-serif;
}


#score{
	font-size: 35pt;
	text-align: center;
}

#topBox{
	background-image: url("../images/smLogo.gif");
	background-repeat: no-repeat;
	background-size: 235px;
}

#opposingTeamLogo {
	float: right;
	background-image: url("../images/bbnLogo.png");
}

.teamNameSchedule {
	text-align: left;
}

li{
	color: white;
	display: inline-block;
	text-align: center;
	width: 24%;

	font-family: 'Asap', sans-serif;

}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 102, .75);
	font-size: 2em;
}

li:hover{
	background-color: white;
	color: rgb(0, 0, 102);
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: white;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	
}

.dropdown {
	position: relative;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a{
	background-color: white;
	color: rgb(0, 0, 102);
	padding: 10px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover{
	color: white;
	background-color: rgb(0, 0, 102);
}

.active {
    background-color:#556677;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

@font-face{
	font-family: 'Collegiate';
	src:url("../fonts/sf-collegiate/TrueType/SFCollegiate.ttf") format("truetype");

}

.fadein { position:relative; width:500px; height:332px; }
.fadein img { position:absolute; left:0; top:0; }